body {
  margin-left: 15%;
  margin-right: 15%;
}
.container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}
#header {
  font-family: Poppins;
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 40px;
  color: #070f18;
}
#menu {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #070f18;
  text-align: right;
  margin-top: 49px;
}
#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#menu li {
  display: inline-block;
  margin-left: 20px;
}
a {
  color: black;
}
